@font-face {
    font-family: 'PTSans-Regular';
    src: url('../fonts/PTSans-Regular.eot');
    src: local('☺'), url('../fonts/PTSans-Regular.woff') format('woff'), url('../fonts/PTSans-Regular.ttf') format('truetype'), url('../fonts/PTSans-Regular.svg') format('svg');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'PTSans-Bold';
    src: url('../fonts/PTSans-Bold.eot');
    src: local('☺'), url('../fonts/PTSans-Bold.woff') format('woff'), url('../fonts/PTSans-Bold.ttf') format('truetype'), url('../fonts/PTSans-Bold.svg') format('svg');
    font-weight: 700;
    font-style: normal;
}